// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary:#145873;
$secondary:#202020;
@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
// Then add additional custom code here
//Font families
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

body{
    color:#FFFFFF;
    font-family: 'Iceland',cursive;
}
header{
    background: radial-gradient(ellipse at 49% 46%, #145873 0%, #000000 60.98%);
}
li{
    list-style-type:none;
}
hr{
    height:2px;
    border: none;
    opacity:1;
}
.nav-link:hover{
    text-decoration:underline;
    text-decoration-thickness:3px;
    text-decoration-color:$primary;
}
.destination{
    width:10rem;
    height:10rem;
}
.customer-review{
    border:1px solid #FFFFFF;
}
.signup-img{
    width:13.375rem;
    height:13.375rem;
}
.header-img{
    width:31.25rem;
    height:31.25rem;
}
.s-icon{
    width:1.875rem;
    height:1.875rem;
    filter: invert(24%) sepia(79%) saturate(576%) hue-rotate(153deg) brightness(94%) contrast(88%);
}
.reviewer{
    width:3.125rem;
    height:3.125rem;
}
.header-img{
    width: 20.625rem;
    height:20.625rem;
    border-radius: 40px;
  }
.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
#destination-container{
    flex-wrap:wrap;
}
p,.nav-item{
    font-size:1.125rem;
}
#customer-review-section,footer{
    background-color:#2B2B2B
}
#destination-section,#customer-review-section,
#signup-section,.customer-review,.destination,
.signup-img,footer{
    border-radius:8px;
}
 // Medium devices (tablets, 768px and up)
 @media (min-width: 768px) { 
    .navbar.navbar-expand-lg {
        display: flex;
        justify-content: center;
      }
    .navbar-collapse {
        justify-content:center;
      }
    .navbar-toggler{
        display:none;
    }
    .closebtn{
        display:none;
    }
    .nav-ul{
        display:inline;
    }
    .nav-item{
        display:inline-block;
        margin-left:0.625rem;
        margin-right:0.625rem;
    }
 }
// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .overlay-menu{
     position:fixed;
     top:0;
     left:0;
     width:100%;
     height:100%;
     background-color:rgba(0,0,0,1);
     display:none;
     flex-direction:column;
     align-items:center;
     z-index:3;
    }
    .overlay-menu.active{
     display:flex;
    }
    .overlay-menu.close{
     display:none;
    }
    .closebtn{
     position: relative;
     top:0.625rem;
     left:10rem;
    }
   }
// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1280px) {
    .nav-ul{
        margin-left:auto;
        padding:1.25rem;
    }
    .closebtn{
        display:none;
    }
    .navbtn-container{
        margin-right:40px;
    }
    .hero.container-fluid.text-center,#signup-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .input-group{
        width:28.125rem;
      }
    .left-div,.signup-left-div{
        width:37.5rem;
        text-align: left;
        margin: 1.25rem;
    }
    .right-div,.signup-right-div{
        margin:1.25rem;
    }
    .signup-body{
        display:flex;
    }
    .signup-page-img{
        width:100%;
        height:100%;
    }
    #customer-review-container,#destination-container{
        display:flex;
    }
    #signup-section{
        padding:1.5625rem;
    }
    #signup-main{
        display:flex;
    }
  }
   // XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    h2{
        font-size:2.5rem;
    }
    .navbar-brand{
        font-size:2rem;
    }
    .left-div h1{
        font-size:3.125rem;
    }
    .input-group{
        width:37.5rem;
    }
    .header-img{
        width:31.25rem;
        height:31.25rem;
    }
    .destination{
        width:18.75rem;
        height:18.75rem;
    }
    .reviewer{
        width:5.9375rem;
        height:5.9375rem;
    }
    .signup-img{
        width:18.75rem;
        height:18.75rem;
    }
    .nav-item,.left-div p,#destination-section a,#destination-container p{
        font-size:1.5rem;
    }
    .left-div,.signup-left-div{
        width:50rem;
        margin:3.125rem;
    }
    .signup,.form-control,.explore-btn,.reviewer-name,.reviewer-location,.signup-btn,.customer-review p,.signup-left-div p,a{
        font-size:1.25rem;
    }
    #destination-section{
        margin-top:3.125rem !important;
    }
    #signup-page-img-container{
        width:100%;
    }
    #destination-section,#customer-review-section,#signup-section{
        margin-bottom:3.125rem !important;
        margin-left:12.5rem !important;
        margin-right:12.5rem !important;
    }
 }
