// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary:#26838F;
$secondary:#202020;
@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
// Then add additional custom code here
//Font families
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

:root{
    --bs-body-font-family: 'Iceland', cursive;
}
body{
    color:#FFFFFF;
}
header{
    background: radial-gradient(ellipse at 49% 46%, #26838F 0%, #000000 60.98%);
}
li{
    list-style-type:none;
}
hr{
    height:2px;
    border: none;
    opacity:1;
}
.nav-link:hover{
    text-decoration:underline;
    text-decoration-thickness:3px;
    text-decoration-color:$primary;
}
.nav-item{
    font-size:18px;
}
.destination{
    width:160px;
    height:160px;
}
.customer-review{
    border:1px solid #FFFFFF;
}
.signup-img{
    width:214px;
    height:214px;
}
.header-img{
    width:500px;
    height:500px;
}
.s-icon{
    width:30px;
    height:30px;
}
.reviewer{
    width:50px;
    height:50px;
}
.header-img{
    width: 330px;
    height: 330px;
    border-radius: 40px;
  }
#destination-container{
    flex-wrap:wrap;
}
#customer-review-section,footer{
    background-color:#2B2B2B
}
#destination-section,#customer-review-section,
#signup-section,.customer-review,.destination,
.signup-img,footer{
    border-radius:8px;
}
 // Medium devices (tablets, 768px and up)
 @media (min-width: 768px) { 
    .navbar.navbar-expand-lg {
        display: flex;
        justify-content: center;
      }
    .navbar-collapse {
        justify-content:center;
      }
    .navbar-toggler{
        display:none;
    }
    .closebtn{
        display:none;
    }
    .nav-ul{
        display:inline;
    }
    .nav-item{
        display:inline-block;
        margin-left:10px;
        margin-right:10px;
    }
 }
// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1280px) {
    .nav-ul{
        margin-left:auto;
        padding:20px;
    }
    .closebtn{
        display:none;
    }
    .navbtn-container{
        margin-right:40px;
    }
    .hero.container-fluid.text-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .input-group{
        width: 450px;
      }
    .left-div{
        width: 600px;
        text-align: left;
        margin: 20px;
    }
    .right-div{
        margin:20px;
    }
    #customer-review-container,#destination-container{
        display:flex;
    }
    #destination-container{
        justify-content:center;
        flex-wrap:wrap;
        -webkit-flex-wrap: wrap;
    }
  }
// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
   .overlay-menu{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,1);
    display:none;
    flex-direction:column;
    align-items:center;
   }
   .overlay-menu.active{
    display:flex;
   }
   .overlay-menu.close{
    display:none;
   }
   .closebtn{
    position: relative;
    top:10px;
    left:160px;
   }
  }